.wrapper {
    height: 100vh;
    background-color: var(--default-background);
    display: flex;
    flex-direction: column;
}

.wrapper>footer {
    color: #f4f3ee;
    padding: 1em 2em;
    margin-top: auto;
    margin-right: auto;
}

.wrapper>footer span {
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
}