.container {
    color: #FFF;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 2em;
}

.container > header {
    display: flex;
    gap: 2em;
    align-items: center;
    justify-content: center;
}

.container > header > label {
    cursor: pointer;
}

.container > main > p{
    font-size: 0.5em;
    padding: 1em;
}

.container > main {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.description {
    text-indent: 20px;
}

.medicine-img {
    width: 5em;
    height: 5em;
    border-radius: 3em;
}